main{
    width: 100%;
    height: 100%;
    padding: 111px 0px 70px 0px;
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.displayed{
    background-color: #ffffff;
    margin: 12.5px 10px;
    width: 300px;
    height: 65px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.displayed h2{
    font-size: 16px;
    padding-left: 15px;
}
ion-icon{
    margin-right: 15px;
    font-size: 23px;
}
.flipped{
    width: 299px;
    height: 131px;
    background-color: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 12.5px 10px;
    position: relative;
}
.flipped h2{
    margin: 15px;
    font-weight: 400;
    font-size: 18px;
}
.flipped img{
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 6px;
}
.options{
    display: flex;
    position: absolute;
    bottom: 6px;
}
.answered p{
    margin-left: 12px;
    width: 85.17px;
    height: 37.17px;
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    bottom: 6px;
}
.red-background{
    background-color: #FB6B6B;
}
.red{
    color: #FB6B6B;
}
.orange-background{
    background-color: #FF922E;
}
.orange{
    color: #FF922E;
}
.green-background{
    background-color: #2FBE34;
}
.green{
    color: #2FBE34;
}
.unflipped{
    background-color: #ffffff;
    margin: 12.5px 10px;
    width: 300px;
    height: 65px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.unflipped h2{
    margin: 15px;
    font-weight: 400;
    font-size: 18px;
    text-decoration: line-through;
}
.unflipped img{
    margin-right: 15px;
}